# Cloud
Host server3
  Hostname %h.{{ .domain_cloud }}
  User root

# Home
Host dockerhost opnsense truenas
  HostName %h.{{ .domain_home }}
  User christian
Host pve2 tpi2
  HostName %h.{{ .domain_home }}
  User root

# Local
Host localhost
  HostName localhost
  UserKnownHostsFile=/dev/null

# All
Host *
    ConnectTimeout 30
    ForwardAgent no
    HashKnownHosts yes
    ServerAliveCountMax 3
    ServerAliveInterval 5
    StrictHostKeyChecking no
